<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <Playwright>
    <BrowserName>chromium</BrowserName>
    <ExpectTimeout>5000</ExpectTimeout>

    <LaunchOptions>
      <Headless>false</Headless>
       <SlowMo>500</SlowMo>
    </LaunchOptions>

    <ContextOptions>
      <ViewportSize>
        <Width>1920</Width>
        <Height>1080</Height>
      </ViewportSize>
      <RecordVideoDir>TestResults/videos</RecordVideoDir>
    </ContextOptions>
  </Playwright>

  <LoggerRunSettings>
    <Loggers>
      <Logger friendlyName="trx" enabled="True" />
    </Loggers>
  </LoggerRunSettings>

  <!-- General run configuration -->
  <RunConfiguration>
    <EnvironmentVariables>
      <!-- For debugging selectors, it's recommend to set the following environment variable -->
      <DEBUG>pw:api</DEBUG>
<!--      <PWDEBUG>1</PWDEBUG>-->
      <PWDEBUG>console</PWDEBUG>
    </EnvironmentVariables>
  </RunConfiguration>
</RunSettings>